

body{
	background: black;
}

.ifArea{
	margin-top:100px;
		position: relative; /* absolute占쏙옙 占싸몌옙 relative占쏙옙 占쏙옙 占싸몌옙 占쏙옙占쏢간댐옙. */
  	width:100%;
 	 padding-bottom: 56.25%;
	
}
hr {
  background-color: white;
}
.infoArea{

	display: flex;

 
}
.infoArea div{


}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
.pull-right{
	float: right;
}
.media-body{
	margin-left: 20px;
}
h2{
	
	color:white;
}
h4{
	color:white;
}

.youtube-review-input-area{
	display: flex;

}
.input-youtube{
	width:100%;

	   box-sizing: border-box;
}
.input-youtube input{
	text-indent: 40px;
}
.input-youtube-btn{
	width:100px;
	background:#c0c0c0;
text-align:center;
	  color:black;
	   box-sizing: border-box;
	min-width:100px;
}
.input-youtube-btn:hover{
	background:#D4D8FA;
}
.delete-y-com:hover{
	color:#D4D8FA;
}

.input-youtube-btn i{
	width:40px;
	color:black;
	font-size: 2em;
	line-height: 52px;
}
.hero-wrap-3 {
  height: 350px; }
  @media (max-width: 1199.98px) {
    .hero-wrap-3 {
    background-size:cover;
      background-position: center center !important; } }

  .hero-wrap-3 .slider-text {
    height: 500px; }
    
#video{
	
	position: absolute;
  width: 100%; /* 占싸몌옙 占승곤옙 占쏙옙 채占쏙옙占�. */
  height: 100%;
}    


@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(50%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
 
    }

}


 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
