@charset "UTF-8";
strong{
	color:#2f89fc;
}
.bg-blue-20{
	background-color: #2f89fc;
	height:20px;
}
.text-bk{
	color: black;
}
.card{
	width: 100%;
}
.gedf-card{
	

}

body{
	background: #F9F9F9;
}
.img-display img{
	display:block;
	width:100%;
	height:auto;
}

.review-group{
		width:100%;
		display:flex;
		align-content: center;
		
}
.review-frm{
	
align-content: center
	}
.review-textarea-div{
		width:100%;
		border-radius: 15px 15px 15px 15px !important;
		background-color: rgba(0,0,0,0.03)  !important;
		box-sizing: border-box;
		display:flex;
}

.review-textarea{
		border-radius: 15px 0px 0px 15px !important;
		width:100%;
		background-color: rgba(0,0,0,0.03)  !important;
		height: 45px !important;
		overflow-y: auto;
		resize: none;
		color:black;
		text-indent: 20px;
		vertical-align: middle;
		line-height: 45px;
}
.review-textarea:focus{
	box-shadow: None !important;
	outline:0px !important;
	color:black;
}
.review-btn{
	border-radius: 0px 15px 15px 0px !important;
	background-color: rgba(0,0,0,0.03);
	min-width: 80px;
	border-left: 1px solid black;
	text-align:center;
	
	color:black;
	line-height: 45px;
}

.review-btn:hover{
	background-color: #2f89fc;
	color: #fff;
	cursor: pointer;
	}
.inser-area{
	margin:10px;
	
}
.cheerUPArea .row{
/* 	border-bottom: 1px solid #808080; */


}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
}

.card-footer{
	background:white;
	border-top:none;
	border-bottom:1px solid black;
}


.cheerUpArea*{
	word-break:break-all;
	overflow-y:auto;
	overflow-x:auto;
}
.hero-wrap-3 {
  height: 350px; }
  @media (max-width: 1199.98px) {
    .hero-wrap-3 {
    background-size:cover;
      background-position: center center !important; } }

  .hero-wrap-3 .slider-text {
    height: 500px; }
    
.gedf-card{
	margin-bottom: 50px;
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 150px;
    max-width: 340px; // orginal twitter width: 290px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}



.review-btn2{
	min-width: 70px;
}

.plus {
	margin-top:200px;
  width: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 100px;
  background: #ffe581;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.plus__line {
  width: 6px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 25px);
}
.plus__line--h {
  transform: rotate(90deg);
}
.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}
.plus__link {
  color: #fff;
  font-size: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease 0s;
  transform: scale(0.5);
}
.plus--active {
  height: 32px;
  border-radius: 30px;
}
.plus--active .plus__line--v {
  height: 68px;
  top: calc(-100% - 60px);
  padding: 0 5px;
  box-sizing: border-box;
  width: 220px;
  border-radius: 60px;
  left: calc(50% - 110px);
}
.plus--active .plus__link {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0.05s;
}

.centered {
  display: flex;
  width: 100%;

 position:absolute;
  justify-content: center;
}


